<div class="collections-card-container">
  <div class="collections-card-header">
    <label>Save to</label>
    <button type="button"
            class="btn btn-link btn-sm pull-right"
            ng-click="$ctrl.categorySelection.toggle($ctrl.collections)">
      <i class="fa" ng-class="{
        'fa-plus': $ctrl.categorySelection.selected === 'select',
        'fa-angle-left': $ctrl.categorySelection.selected === 'input'
      }"></i>
    </button>
  </div>
  <div class="collections-card-body">
    <select ng-show="$ctrl.categorySelection.selected === 'select'"
            class="form-control input-sm"
            ng-model="$ctrl.selectedCollectionId"
            ng-options="collection.collectionId as collection.name for collection in $ctrl.collections"
            ng-change="$ctrl.onChangeCollection()">
    </select>

    <form ng-show="$ctrl.categorySelection.selected === 'input'"
          ng-submit="$ctrl.createNewCollection()">
      <input type="text" class="form-control input-sm" ng-model="$ctrl.newCollectionName" />
    </form>
  </div>
</div>
