<div class="container">
  <div class="page-header">
    <div class="page-back-link">
      <a href="/events">
        <i class="fa fa-angle-left"></i>
        {{ ::$ctrl.text['link.back.to.events'] }}
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-8 text-center">
      <form ng-submit="$ctrl.data.delete($ctrl.data.model.id)"
            name="$ctrl.data.form"
            novalidate>
        <h1 class="h3">Are you sure you want to delete this event?</h1>
        <p class="well">
          {{ $ctrl.data.model.name }} <br />
          {{ $ctrl.data.model.address }} <br />
          {{ $ctrl.data.model.beginTimestamp | date:$ctrl.DATE_FORMAT_STRING }} - {{ $ctrl.data.model.endTimestamp | date:$ctrl.DATE_FORMAT_STRING }}
        </p>
        <input type="text" class="input input-md form-control" ng-model="$ctrl.data.confirmString" />
        <p class="text-muted help-block">Type in the name of the event to verify.</p>
        <button type="submit"
                class="btn btn-danger"
                ng-disabled="$ctrl.data.confirmString !== $ctrl.data.model.name">
          {{ ::$ctrl.text['page.action'] }}
        </button>
        <button type="button"
                class="btn btn-default"
                ng-click="$ctrl.data.cancel()">
          {{ ::$ctrl.text['cancel'] }}
        </button>
      </form>
    </div>
  </div>
</div> <!-- /.container -->
