<div class="container">

  <div class="row search-list-search-bar">
    <div class="col-md-12">
      <form ng-submit="$ctrl.search($ctrl.query, 0)">
        <input type="text"
               class="form-control input-lg"
               placeholder="Search for gifs via Giphy.com"
               ng-model="$ctrl.query">
        <button type="submit" class="btn btn-default sr-only">
          Search
        </button>
      </form>
    </div>
  </div>

  <div class="row search-list-gif-container">
    <div class="col-md-12" ng-show="$ctrl.gifs.length">
      <saved-card ng-repeat="gif in $ctrl.gifs"
                  data-gif-id="gif.id"
                  data-gif-url="gif.url"
                  data-gif-preview-url="gif.images.fixed_height_small.url"
                  data-collections="$ctrl.collections"
                  data-user-id="$ctrl.userId">
      </saved-card>
    </div>

    <div class="col-md-12 text-center search-list-zero-state"
         ng-show="!$ctrl.gifs.length && !$ctrl.loading.isVisible && !$ctrl.error.isVisible">
      <span class="h2">Start searching for your favorite gifs...</span>
      <p>We'll show you gifs from all over the internet</p>
    </div>

    <div class="col-md-12 text-center search-list-loading"
         ng-show="$ctrl.loading.isVisible">
      <p>
        <i class="fa fa-spinner fa-spin"></i>
        Loading...
      </p>
    </div>

    <div class="col-md-12 text-center search-list-error"
         ng-show="$ctrl.error.isVisible">
      <p>
        <i class="fa fa-exclamation-triangle text-danger"></i>
        Something went wrong...
      </p>
    </div>

    <div class="col-md-12 text-center search-list-load-more"
         ng-show="$ctrl.gifs.length < $ctrl.pagination.total_count">
         <button type="button"
                 class="btn btn-default"
                 ng-click="$ctrl.loadMore()">
           Load More...
         </button>
    </div>
  </div>

</div>
