<div class="container">
  <div class="page-header">
    <h1>
      {{ ::$ctrl.text['page.header'] }}
      <a ng-if="false"
         href="/events/create"
         class="btn btn-primary btn-sm">
        {{ ::$ctrl.text['button.create'] }}
      </a>
      <a href="/surveys/preview"
         class="btn btn-default btn-sm">
        {{ ::$ctrl.text['button.preview'] }}
      </a>
    </h1>
  </div>

  <div class="list-group">
    <div class="list-group-item"
         ng-repeat="item in $ctrl.data.items track by $index">
      <events-action-button-group class="pull-right"
                                  data-event-id="item.id"
                                  data-event-end-timestamp="item.endTimestamp">
      </events-action-button-group>
      <h4 class="list-group-item-heading">
        <a ng-href="/events/{{item.id}}">
          {{ ::item.name }}
        </a>
      </h4>
      <div class="list-group-item-text">
        <div class="text-muted small">
          <p>
            <events-status data-event-id="item.id"
                           data-event-begin-timestamp="item.beginTimestamp"
                           data-event-end-timestamp="item.endTimestamp">
            </events-status>
            &nbsp;
            {{ ::item.beginTimestamp | date:$ctrl.DATE_FORMAT_STRING }}
            -
            {{ ::item.endTimestamp | date:$ctrl.DATE_FORMAT_STRING }}
          </p>
          <p>
            {{ ::item.address }}
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
