<!DOCTYPE html>
<html ng-app="choosyMoms">
  <head lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <title>choosyMoms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/app.css"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700" rel="stylesheet">
  </head>

  <body ng-controller="appCtrl as $ctrl">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img ng-attr-alt="{{ $ctrl.appName }}" src="./images/peanut-butter-icon.png">
          </a>
        </div>
        <div id="navbar">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              {{$ctrl.appName}}
              <button ng-if="!$root.isAuthenticated">Log In</button>
              <button ng-if="$root.isAuthenticated">Log Out</button>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Howdy, cbfx <span class="caret"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <ng-view autoscroll="false"></ng-view>

    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
      window.ui = window.ui || {};
      window.ui.version = '##GIT_COMMIT_HASH##';
      window.ui.builtAt = '##BUILT_AT##';
    </script>
  </body>
</html>
