body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #fff;
  padding: 100px;
}

.brand-logo {
  width: 74px;
  height: 64px;
  display: block;
  background-image: url('./images/peanut-butter-icon.png');
}

.navbar-header {
  height: 100px;
  float: left;
}

.nav {
  &.navbar-nav {
    .text-muted {
      color: #ccc;
    }

    &.navbar-right {
      padding-top: 15px;
      float: right !important;
    }

    & > li > a {
      font-size: 2.0rem;
    }
  }

  li {
    margin-top: 20px;

    a {
      color: #666;

      &:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}


.page-header {
  position: relative;
  border-bottom: none;
  margin-bottom: 0;

  .page-back-link {
    position: absolute;
    top: -25px;
  }
}

.control-label {
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  font-weight: normal;
  color: #999;
  text-align: right;
}

.list-group-item-text {
  margin-top: 8px;

  p {
    margin: 0 0 5px;
  }
}

@media (min-width: 1200px) {

}
